<template>
  <div>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <router-link
            class="navbar-brand"
            to="/"
          >
            <span>{{ title }}</span>
          </router-link>

          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon" />
          </button>

          <div
            id="navbarSupportedContent"
            class="collapse navbar-collapse"
          >
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <router-link
                  class="nav-link"
                  to="/instances"
                  exact
                >
                  Instances
                </router-link>
              </li>

              <li class="nav-item">
                <router-link
                  class="nav-link"
                  to="/instances/stats"
                  exact
                >
                  Statistics
                </router-link>
              </li>

              <li class="nav-item">
                <router-link
                  class="nav-link"
                  to="/instances/add"
                  exact
                >
                  Add
                </router-link>
              </li>

              <li class="nav-item">
                <a
                  class="nav-link"
                  :href="reportUrl"
                  target="_blank"
                >Report an instance</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <router-view
      id="main-container"
      class="container"
    />

    <custom-footer />
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue'
import Footer from './Footer.vue'
import { getConfig } from './shared/config'

export default defineComponent({
  components: {
    'custom-footer': Footer
  },

  data () {
    return {
      title: import.meta.env.VITE_APP_TITLE,
      reportUrl: ''
    }
  },

  async mounted () {
    const config = await getConfig()

    this.reportUrl = config.reportUrl
  }
})
</script>

<style lang="scss">
  body {
    background-color: #f8f9fa;
  }

  #main-container {
    margin-top: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
</style>

<style lang="scss" scoped>
  a {
    outline: 0;
    font-weight: 600;
    opacity: 0.7;

    &.router-link-active {
      opacity: 1;
    }
  }

  .navbar-brand {
    opacity: 1;
  }
</style>
